*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* nav-section */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;

}
.nav-logo{
    font-size: 40px;
    font-weight: 300px;
}
.nav-item{
    display: flex;
    margin-left: 600px;
}
.nav ul li{
    list-style: none;
    padding: 0px 20px ; 
 }
.nav ul li a{   
    text-decoration: none; 
    color:black;
}
.nav ul li a:hover{
    color:#FD6E0A;
    transition: all linear 0.4s;
}
/* banner-section */
#banner{
    background:url(../images/banner/banner1.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    height: 500px;   
}
.banner-texts{
    width: 500px;
    padding-left: 650px;
    padding-top: 100px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 24px;
    color: rgba(21, 20, 20, 1);
}
.banner-description{
    font-size: 15px;
    font-weight: 400;
    color: rgba(68, 67, 67, 1);  
}
.btn-primary{
    padding: 18px 35px;
    font-weight: 600;
    font-size: 20px;
    background:#FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
}
.btn-primary:hover{
    color:white;
    transition: all linear 0.5s;
    background: gray;
}

/* my-failuers-part */
#my-failuers{
    display: flex;
    gap: 90px;
    padding-top: 150px;
}
.image{
    padding-left: 120px;
}
.my-failuers-text{
    margin-top: 220px;
    padding-right: 75px;
}
.failuers-title{
    text-align: left;
    width: 320px;
    font-weight: 500;
    font-size: 45px;
}
.failuers-description{
    color: rgba(68, 67, 67, 1);
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 400;
}
.steps{
    color:rgba(68, 67, 67, 1);;

}
/*plan-part */
.title{
    text-align:center;
    margin-top: 130px;
    padding-bottom:50px ;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;  
    text-align: center;
    padding-bottom: 100px;
}
.plan-name{
    padding-top: 30px;
    padding-bottom: 15px;
}
.my-plans-item h4{
    color:rgba(115, 114, 114, 1)
}
/* mind-set-part */
#mind-set{
    background: linear-gradient(to right, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png"), url("../images/gradient1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 100px;
}
.mind-set-text{
    margin-left:40px;
    padding: 50px;
}
.mind-set-title{
    font-size: 40px;
    font-weight: 700;
    color: #ffff;
}
.btn{
    padding: 20px 35px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    color:#F15B22
}
.btn:hover{
    color:white;
    transition: all linear 0.5s;
    background: gray;
}
/* future-part */
.future{
    padding-top: 80px;
    padding-left: 400px;
    padding-bottom:100px;
    background: rgba(207, 204, 207, 0.727); 
}
.future-title{
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 45px;
    text-align: left;
    margin-right: 100px;
}
.step{
    text-align: left;
    margin: 0 auto;
    color:rgba(115, 114, 114, 1);
    font-size: 18px;
    font-weight: 400;
}
.step i{
    color: green;
}
.red-icon i{
    color: red;
}
/* footer-part */
#footer{
    display: flex;
    background: black;
    color: white;
    padding: 80px 150px;
    margin-top: 80px;
}
.footer-left{
    padding-right: 80px;
}
.footer-left-title{
    font-size: 45px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 15px;
}
.footer-description{
    padding-top: 24px;
    padding-bottom: 16px;
}
.icon{
    padding-top: 32px;
}
.footer-right-title{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer-right input{
    background: #000;
    border: 2px solid white;
    padding: 15px 10px;
    border-radius: 5px; 

}
.credit-section{
    font-size: 25px;
    text-align: center;
    padding: 15px 200px;
    font-weight: 400;
    background: #ffff;
    color:#000;
}
